*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #F3F5FC;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header{
    height: 96px;
    margin-bottom: 30px;
}

.container{
    margin: 0 auto;
    width: 375px;
    padding: 5px 18px;
    
}

.encryptor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.encryptor__textArea{
    width: 100%;
    border: none;
    resize: none;
    text-transform: lowercase;
    font-size: 32px;
    color: #0A3871;
    margin-top: -20px;
}

textarea::placeholder {
    color: #0A3871;
}

.encryptor__textArea:focus{
    outline: none;
}

.encryptor__message{
    display: flex;
    align-items: center;
    gap: 5px;
    padding-right: 85px;
    color: #67808E;
}

.encryptor__message-img{
    width: 15px;
}

.encryptor__buttons{
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.encryptor_encryp{
    text-decoration: none;
    border: none;
    text-align: center;
    color: white;
    background-color: #0A3871;
    padding: 20px 0;
    border-radius: 25px;
    font-size: 1.3em;
    -webkit-box-shadow: -1px 21px 15px -15px rgba(145,134,145,1);
-moz-box-shadow: -1px 21px 15px -15px rgba(145,134,145,1);
box-shadow: -1px 21px 15px -15px rgba(145,134,145,1);

}

.encryptor_desencryp{
    text-decoration: none;
    text-align: center;
    color: #0A3871;
    background-color: #F3F5FC;
    padding: 25px 0;
    border: 1px solid #0A3871;
    border-radius: 25px;
    font-size: 1.3em;
}

.message{
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message__container-img{
    display: none;
}

.message__encryptado{
    width: 100%;
    background-color: white;
    max-height: 600px;
    font-size: 1.25em;
    color: #67808E;
    border: none;
    outline: none;
    display: none;
    resize: none;
}

.message__container{
    width: 325px;
    min-height: 234px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
    gap: 15px;
    background: white;
    padding: 28px ;
    -webkit-box-shadow: -1px 15px 32px -11px rgba(163,158,163,0.68);
-moz-box-shadow: -1px 15px 32px -11px rgba(163,158,163,0.68);
box-shadow: -1px 15px 32px -11px rgba(163,158,163,0.68);

    
}

.message__btnCopiar{
    text-decoration: none;
    text-align: center;
    color: #0A3871;
    background-color: #F3F5FC;
    padding: 25px 0;
    border: 1px solid #0A3871;
    border-radius: 25px;
    font-size: 1.3em;
    width: 100%;
    display: none;
}

.message__title{
    background: white;
    font-size: 1.8em;
}


.message__paragraph{
    background: white;
    font-size: 1.3em;
    line-height: 30px;
}

.footer{
    text-align: center;
    margin-top: -40px;  
    opacity: 0.7;
    color: black;
    font-style: italic;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

/** medias querys **/

/** TABLETS **/
@media (min-width: 768px) {

    .header{
        height: 160px;
    }

    .header__logo{
        padding: 30px 25px;
    }

    .container{
        margin: 0 auto;
        width: 768px;
        padding: 5px 18px;
        
    }
    
    .encryptor__message{
        width: 100%;
        margin-left: 20px;
    }

    .encryptor__buttons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .encryptor_encryp{
        padding: 20px 120px;
        box-shadow: none;
    }
    
    .encryptor_desencryp{
        padding: 20px 120px;
    }

    .message__container{
        margin-top: 20px;
        width: 685px;
        height: 225px;
    }

    .message__no-encryptado{
        margin-top:45px;
    }
    .message__show{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        background-color: white;
    }

    .message__encryptado{
        height: 125px;
    }

    .message__container-img{
        display: none;
    }
}

/* Desktop */

@media (min-width: 1440px) {

    .header{
        height: 25px;
    }

    .container{
        margin: 0 auto;
        width: 1440px;
        padding: 5px 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .encryptor__textArea{
        margin-top: -200px;
        outline: none;
    }

    .message{
        width: 400px;
        height: 945px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin-bottom: 30px;
        border-radius: 25px;
    }

    .message__container{
        width: inherit;
        height: inherit;
        -webkit-box-shadow: -1px 15px 32px -11px rgba(163,158,163,0.68);
-moz-box-shadow: -1px 15px 32px -11px rgba(163,158,163,0.68);
box-shadow: -1px 15px 32px -11px rgba(163,158,163,0.68);
    }

    .message__container-img{
        display: block;
        width: 335px;
        height: 300px;
        margin: 15px 0;
    }

    .img-muneco{
        background-color: white;
        width: 100%;
    }

    .encryptor__message{
        margin-top: 50px;
    }

    .message__show{
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 100px;
        background-color: white;
    }

    .message__encryptado{
        height: 950px;
        margin-top: -50px;
    }

}
